{extend name="adminblue/base" /}
{block name="main"}
<div class="set-style">
	<dl>
		<dt>APP ID：</dt>
		<dd>
			<input id="app_id" type="text" value="{$config['value']['app_id']}" class="input-common long" />
			<p class="hint">应用ID</p>
		</dd>
	</dl>
	<dl>
		<dt>应用私钥：</dt>
		<dd>
			<textarea id="merchant_private_key" class="textarea-common big">{$config['value']['merchant_private_key']}</textarea>
			<p class="hint">签名用的和支付宝已经约定好的RSA2私钥</p>
		</dd>
	</dl>
	<dl>
		<dt>RSA2公钥：</dt>
		<dd>
			<textarea id="alipay_public_key" class="textarea-common big">{$config['value']['alipay_public_key']}</textarea>
			<p class="hint">签名用的和支付宝已经约定好的RSA2公钥</p>
		</dd>
	</dl>
	<dl>
		<dt>是否启用支付：</dt>
		<dd>
			<p>
				<input id="is_use" type="checkbox" class="checkbox" {if condition="$config.is_use==1"} checked="checked"{/if}/>
			</p>
		</dd>
	</dl>
	
	<dl>
		<dt>是否启用退款：</dt>
		<dd>
			<p><input id="refund_is_use" type="checkbox" class="checkbox"
			{if condition="$original_road_refund_setting_info.is_use"}checked="checked"{/if}
			/></p>
			<p class="hint">开启支付宝支付才可以进行后续操作</p>
		</dd>
	</dl>
	<dl>
		<dt>是否启用转账：</dt>
		<dd>
			<p><input id="transfer_is_use" type="checkbox" class="checkbox"
			{if condition="$transfer_accounts_setting_info.is_use"}checked="checked"{/if}
			/></p>
			<p class="hint">开启支付宝支付才可以进行后续操作</p>
		</dd>
	</dl>
	
	<dl>
		<dt></dt>
		<dd>
			<button class="btn-common btn-big" onclick="setConfigAjax()">保存</button>
			<button class="btn-common-cancle btn-big" onclick="javascript:history.back(-1);" >返回</button>
		</dd>
	</dl>
</div>
<script>
function setConfigAjax(){
	var app_id = $("#app_id").val();
	var merchant_private_key = $("#merchant_private_key").val();
	var alipay_public_key = $("#alipay_public_key").val();
	var is_use = 0;
	if($("#is_use").is(":checked")){
		is_use = 1;
	}
	
	var originalRoadRefund = new Object();
	originalRoadRefund.is_use = $("#refund_is_use").is(":checked") ? 1 : 0;
	
	var originalRoadTransfer = new Object();
	originalRoadTransfer.is_use = $("#transfer_is_use").is(":checked") ? 1 : 0;
	
	$.ajax({
		type:"post",
		url:"{:__URL('ADMIN_MAIN/config/payaliconfig')}",
		data:{
			'app_id':app_id,
			'merchant_private_key':merchant_private_key,
			'alipay_public_key':alipay_public_key,
			'is_use' : is_use,
			'type' : 'alipay',
			
			'value' : JSON.stringify(originalRoadRefund),
			'transferValue' : JSON.stringify(originalRoadTransfer)
		},
		success:function (data) {
			if (data["code"] > 0) {
				showTip(data["message"],"success");
				location.href=__URL("ADMIN_MAIN/config/paymentconfig");
			}else{
				showTip(data["message"],"error");
			}
		}
	});
}
</script>
{/block}